/*FAQ list*/
.quest-list {
	max-width: 790px;
}
h2 {
	text-transform: uppercase;
}
.panel-group .panel {
    border-radius: 0;
}
.panel-heading {
	background-color: #ebebeb;
	min-height: 70px;
	padding-top: 20px;
	border-radius: 0;
}
.panel-heading h2 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 20pt;
}
.panel-body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 14pt;
}
main .fa {
	float: right;
}
.panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'FontAwesome';  /* essential for enabling glyphicon */
    content: "\f0da";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: grey;         /* adjust as needed */
}
.panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\f0d7";    /* adjust as needed, taken from bootstrap.css */
}

/*RECALL FORM*/
.recall {
	height: 320px;
	padding-top: 15px;
}
.recall input {
	height: 40px;
	width: 250px;
	background-color: #ebebeb;
}