/*FAQ list*/
main .container {
	max-width: 790px;
}
h2 {
	text-transform: uppercase;
}
.panel-group .panel {
    border-radius: 0;
}
.panel-heading {
	background-color: #ebebeb;
	min-height: 70px;
	padding-top: 20px;
	border-radius: 0;
}
.panel-heading h2 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 20pt;
}
.panel-body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 14pt;
}
main .fa {
	float: right;
}
.panel-heading .accordion-toggle:after {
    font-family: 'FontAwesome'; 
    content: "\f0da";
    float: right;
    color: grey;
}
.panel-heading .accordion-toggle.collapsed:after {
    content: "\f0d7";
}

/*RECALL FORM*/
.recall {
	height: 320px;
	padding-top: 15px;
}
.recall input {
	height: 40px;
	width: 250px;
	background-color: #ebebeb;
}
.recall button {
	background-color: white;
	border: 1px solid black;
	padding: 10px 20px;
	font-size: 15pt;
	font-weight: 300;
}
.recall button:hover {
	background-color: rgb(224, 224, 224);